<div class="w-full bg-primary-normal flex flex-col items-center fixed shadow z-50">
  <div class="flex w-full md:container h-14 px-4 py-1 items-center justify-between">
    <app-logo></app-logo>
    <div (click)="menuClick()" class="md:hidden">
      <app-hotdog-menu [isOpen]="openMenu"></app-hotdog-menu>
    </div>

    <div class="flex items-center">
      <app-navigation class="hidden md:block" [navItems]="navItems | async"></app-navigation>
      <div (click)="userMenuClick()" class="ml-10 hidden md:block" *ngIf="user | async as e">
        <app-header-user-menu [isOpen]="openUserMenu" [user]="e"></app-header-user-menu>
      </div>
    </div>
  </div>
</div>
