<!--<div class="flex flex-col gap-2 md:gap-3">-->
<!--  <h6 class="text-secondary-normal font-body font-bold text-xl md:text-2xl">{{ pet.name }}</h6>-->
<!--  <div class="flex gap-1.5 font-display items-center">-->
<!--    <p class="text-sm text-gray-500 uppercase">{{ pet.sexe }}</p>-->
<!--    <span class="bg-gray-400 rounded-3xl h-1 w-1"></span>-->
<!--    <p class="text-sm text-gray-500">{{ pet.birth_date | age }}YRS</p>-->
<!--  </div>-->

<!--  <p class="font-body text-sm text-gray-normal">{{ pet.aboutMe }}</p>-->
<!--</div>-->
<div class="flex flex-col gap-2 md:gap-3">
  <h6 class="text-secondary-normal font-body font-bold text-xl md:text-2xl">Putchi</h6>
  <div class="flex gap-1.5 font-display items-center">
    <p class="text-sm text-gray-500 uppercase">{{ pet.sexe == 'Masculin' ? 'Male' : 'Female' }}</p>
    <span class="bg-gray-400 rounded-3xl h-1 w-1"></span>
    <p class="text-sm text-gray-500">{{ pet.birth_date | age }} years old</p>
  </div>

  <p class="font-body text-sm text-gray-normal">
    I am a really really cutey and I am so sweet I need a girlfriend to play with and have fun everyday. We gonna have
    walks and eat and playyy!
  </p>
</div>
