<div>
  <h2 class="text-xl font-medium text-secondary-dark">
    Confused about how it goes?
  </h2>
  <p class="text-xs font-semibold mt-1 text-gray-400 uppercase">
    Check this step by step guide
  </p>

  <div class="mt-8">
    <div>
      <div class="flex w-full-w-10 h-10 items-center">
        <div class="flex-grow h-0.5 bg-primary-light"></div>
      </div>
    </div>

    <div class="transform flex -translate-y-5">
      <div class="text-gray-normal flex-col flex mt-8">
        <h3 class="text-2xl">Add your pet</h3>
        <p class="mt-2 pr-10">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum
        </p>
      </div>

      <div class="flex flex-col w-20 h-40">
        <div class="flex-grow ml-5 w-0.5 bg-primary-light"></div>
      </div>
    </div>
  </div>
</div>
