<div class="flex flex-col gap-y-16 gap-x-10 md:flex-row">
  <div class="flex md:flex-row-reverse gap-4 relative">
    <div class="text-gray-normal">
      <h4 class="text-lg relative md:text-xl md:font-semibold font-medium">
        <div class="absolute -top-8 -left-4">
          <svg-icon class="w-16 block" src="assets/pages/home/reviews/quotes.svg"></svg-icon>
        </div>
        My dog has never been happier, and so am i !
      </h4>
      <p class="text-sm md:text-base mt-1">
        Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum
      </p>
    </div>
    <img class="object-contain w-60" src="/assets/pages/home/reviews/reviewerBubble1.png" />
  </div>

  <div class="flex relative gap-4">
    <img class="object-contain w-60" src="/assets/pages/home/reviews/reviewerBubble2.png" />

    <div class="text-gray-normal">
      <h4 class="text-lg md:text-xl relative md:font-semibold font-medium">
        <div class="absolute transform rotate-180 md:-top-6 -top-5 right-1">
          <svg-icon class="w-16 block" src="assets/pages/home/reviews/quotes.svg"></svg-icon>
        </div>
        I found the perfect match for my cat, and made some friends!
      </h4>
      <p class="text-sm md:text-base mt-1">
        Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum
      </p>
    </div>
  </div>
</div>
