<div class="flex gap-7">
  <img class="w-12 h-12 rounded-full" [src]="pet.pdp | petPicture" />
  <div class="flex flex-col justify-center gap-3">
    <div class="flex gap-2 items-center">
      <span class="text-black text-lg">{{ pet.name }}</span>
      <span class="bg-gray-400 rounded-3xl h-1 w-1"></span>
      <span class="text-gray-500 capitalize">{{ pet.breedType.petType.name }}</span>
      <span class="bg-gray-400 rounded-3xl h-1 w-1"></span>
      <span class="text-gray-500 capitalize">{{ pet.breedType.name }}</span>
    </div>

    <div>
      <button class="bg-secondary-medium text-white rounded-3xl justify-around items-center flex px-5 py-1.5">
        <span class="text-sm" [routerLink]="getProfileUrl()"> Check me out </span>
        <svg-icon class="h-4 w-4 flex items-center" src="assets/icons/shared/chevron-right.svg"></svg-icon>
      </button>
    </div>
  </div>
</div>
