<div class="w-full h-full flex justify-center items-center overflow-hidden relative">
  <img class="absolute" [src]="pictureUrl" />
  <div
    class="flex items-center justify-around absolute bottom-0 bg-backgrounds-normal bg-opacity-50 shadow-2xl rounded-tr-xl rounded-tl-xl h-16 w-full"
  >
    <button class="bg-backgrounds-normal rounded-full w-10 p-2 button-shadow">
      <svg-icon class="text-secondary-normal" src="assets/icons/shared/close.svg"></svg-icon>
    </button>

    <button class="bg-backgrounds-normal rounded-full button-shadow h-10 w-10 p-2">
      <img src="assets/paw.svg" />
    </button>
  </div>
</div>
