<div class=" w-full relative">
  <app-side-banner class="z-0"></app-side-banner>

  <div class="flex-col h-screen flex justify-center px-16 text-gray-normal">
    <p class="font-display text-3xl font-bold z-50">Sign Up to PawMe.</p>
    <div class="text-left z-50">
      <span class="opacity-70">Already a member? </span>
      <a class="text-secondary-normal" routerLink="/sign-in">sign in</a>
    </div>

    <app-generic-form class="z-50 h-4/6" [form]="form" [style]="'primary'"></app-generic-form>

  </div>

  <p class="text-xs text-gray-normal fixed bottom-4 left-4 hidden md:inline">&#169; All rights Reserved - PawMe 2021-2022</p>


  <img class="absolute top-0 top-0 h-52" src="assets/grayPawPrints2.svg">
</div>
