<div class="flex w-full flex-col text-gray-normal font-body justify-center px-16">
  <div>
    <p class="font-bold text-xl font-display">Learn more about Pawme</p>
  </div>

  <div class="flex w-full">
    <div class="w-9/12 flex items-center">
      <p class="text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and.</p>
    </div>

    <div class="w-3/12 flex justify-center">
      <img src="assets/cat&doggo.svg">
    </div>
  </div>

</div>
