<div
  class="w-full text-gray-normal flex flex-col font-body justify-center py-24"
>
  <img
    class="absolute right-8 h-56 -top-8 z-0"
    src="assets/grayPawPrints.svg"
  />

  <div>
    <p class="font-bold text-3xl font-display font-bold">
      Learn more about Pawme
    </p>
  </div>

  <div class="flex w-full">
    <div class="w-7/12 flex py-8">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and.
      </p>
    </div>

    <div class="w-5/12 flex justify-center">
      <img class="h-80 md:-mt-20 z-40" src="assets/cat&doggo.svg" />
    </div>
  </div>
</div>
