<div class="min-h-screen font-body">
  <app-header *ngIf="has_navbar()"></app-header>
  <router-outlet></router-outlet>
  <app-footer *ngIf="has_footer()"></app-footer>

  <div
    *ngIf="$showAddPetModal | async"
    class="absolute z-50 top-0 left-0 h-screen w-full bg-black bg-opacity-30 flex items-center justify-center"
  >
    <div class="bg-white rounded p-10">
      <p>WOOPSIE NO PETS</p>
      <a routerLink="/add-pet" class="bg-red-200">Take me to add pet form</a>
    </div>
  </div>

  <app-user-bio-modal *ngIf="$showBioModal | async"></app-user-bio-modal>
</div>
