<div class="flex flex-col gap-3 mb-5">
  <h1 class="text-secondary-normal font-body font-bold text-l">Gallery</h1>
  <div class="flex h-20 gap-1.5 px-2 md:px-20">
    <div class="flex flex-col md:flex-row h-full grow-[2] md:grow-[5] gap-1.5">
      <div class="flex grow-[2] gap-1.5">
        <div class="rounded bg-secondary-light grow-[1]"></div>
        <div class="rounded bg-gray-400 grow-[3]"></div>
      </div>

      <div class="rounded h-1/2 md:h-full bg-primary-light md:grow-[1]"></div>
    </div>
    <div class="h-full rounded bg-secondary-medium grow-[1]"></div>
  </div>
</div>
