<div class="text-gray-normal">
  <img class="h-64 py-2 w-full" />
  <p class="my-4 text-sm">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores autem,
    deserunt vero quaerat quos molestias nobis sit facere ut iste non eius
    asperiores esse eum sapiente odio minus excepturi corrupti.
  </p>
  <div class="grid grid-cols-2 text-sm gap-4">
    <button
      class="bg-secondary-normal text-gray-normal py-1.5 rounded shadow-md"
    >
      Make an accounts
    </button>
    <button class="bg-primary-normal text-gray-normal rounded py-1.5 shadow-md">
      Sign in
    </button>
  </div>
</div>
