<div class="text-gray-normal flex md:gap-8 md:flex-row flex-col">
  <img src="/assets/pages/home/banner/landingPageDoggo.png" class="py-2 object-contain md:w-[52rem] w-full" />
  <div class="mt-10">
    <h1 class="hidden text-5xl font-semibold md:block">Find a partner for your pet</h1>
    <p class="mb-4 md:mt-4 md:text-lg md:w-8/12 text-sm">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and.
    </p>
    <div class="md:w-96">
      <app-home-banner-cta-buttons></app-home-banner-cta-buttons>
    </div>
  </div>
</div>
