<div class="flex gap-7 w-full mb-12 justify-center">
  <div>
    <img src="assets/user-placeholder.svg" />
  </div>
  <div class="flex flex-col justify-around">
    <div>
      <p class="text-lg text-gray-normal font-display font-bold">Edward Larry</p>
      <p class="text-sm text-gray-normal font-body">Your kiddo will be safe with us</p>
    </div>

    <div class="flex gap-1.5">
      <svg-icon class="fill-secondary-normal" src="assets/icons/shared/location-marker.svg"> </svg-icon>
      <p class="text-sm text-secondary-normal font-body">Garden City, New York</p>
    </div>
  </div>
</div>
